*{
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --text: #181818;
    --elements: #ffffff;
    --button-back: #0a58ca;
    --input: #ffffff;
    --button-text: #ffffff;

}
[data-theme="dark"] {
    --background: #1c1c1e;
    --text: #fefefe;
    --elements: #ffffff;
    --button-back: #ffffff;
    --button-text: #000000;

}
button:hover {
  cursor: pointer;
  background-color: var(--elements);
}

html , body{
    background-color: var(--background);
    margin: 0;
    height: 98%;
    /* --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;*/
} 

/* ::-webkit-scrollbar {
    width: 20px;
  }
  
  #todo-list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  #todo-list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  #todo-list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  } */

ul {
    list-style-type: none;
    
    max-height: 50vh;
  }


  .item {
      background-color: var(--elements);
      overflow-wrap: break-word;
      white-space: normal;
      
  }


  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .checkbox {
    margin-right: 10px;
  }

  .delete-button {
    float: right;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
  }

  .checked { 
    text-decoration: line-through;
  }

  .container-fluid {
      background-color: var(--background);
  }

  button[type=submit]{
      background-color: var(--button-back) !important;
      border-color: var(--elements) !important;
      color: var(--button-text);
  }

  button[type=button] {
      position: absolute;
      right: 1rem;
      top: .5rem;
  }

  button[type=button].toast-btn {
      position: static;
  }
  .tost-link, .tost-link:hover, .tost-link:active, .tost-link:link, .tost-link:visited {
      text-decoration: none;
      color: #ffffff;
  }
  h1 {
      color: var(--text);
  }

  #main-container {
      height: 80vh;
      background-color: var(--background) !important;
  }

  .dark-mode {
    text-align: right;
    font-weight: 600;
    cursor: pointer;
    color: var(--text);
  }

  .form-check-label {
      color: var(--text);
      font-size: .8rem;
  }
  footer {
    background-color: var(--background);
    text-align: center;
    max-width: 100% !important;
    color: var(--text);
   }
   footer a {
       text-decoration: none;
       /* margin-right: 10px; */
       width: 100%;
       color: var(--text);
   }
   
   footer span {
       margin: 0 4px;
       color: var(--text);
   }
   footer strong {
       margin-right: 5px;
       color: var(--text);
   }

   /* @media screen and (max-width: 435px) {
       .form-check-label {
           max-width: 50px;
       }
       .form-check-input {
           margin-top: 15px;
       }
   } */

.scroll {
    overflow-y: scroll;
}